<h1>Events</h1>
<% @posts.each do |article| %>
<p>
  <%= @post.img_url %>
</p>
<p>
  <h2>Event:</h2>
  <%= @post.event %>
</p>
<p>
  <p>Address:</p>
  <%= @post.address %>
</p>
<p>
  <p>Time:</p>
  <%= @post.time %>
</p>
<p>
  <h2>Date:</h2>
  <%= @post.date %>
</p>
<p>
  <h2>Price:</h2>
  <%= @post.price %>
</p>
<p>
  <h2>Details:</h2>
  <%= @post.text %>
</p>
<p><%= link_to 'Show', post_path (post) %></p>
<% end %>
