<h1>New Party Post</h1>

  <%= form_for :post, url: posts_path do |f| %>
    <p>
      <%= f.label :img_url %><br>
      <%= f.text_field :img_url %>
    </p>
    <p>
      <%= f.label :event %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :address %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :time %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :date %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :price %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :details %><br>
      <%= f.text_field :text %>
    </p>
      <%= f.submit :value => "Add Event", :class => "submit" %>
    <% end %>
